.functional-menu {
  color:white;
  width: 100%;
  height: 288px;
  background-image: url("../media/functional-menu-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 10px 10px;
}

.back-button {
  margin-top: 50px;
  margin-left: 20px;
  border-radius: 60px;
  padding:12px 16px 16px 17px ;
  border: solid 1px #EBEAEC;
  background-color: white;
}

.back-button:active {
  transform: translateY(1px);    
}