html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color:white;
}

.logo-text {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.logo-text .text {
  margin: 0 10px;
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.24em;
  color: #3F414E;
}

.tittle-text {
  margin-left:8px;
  margin-bottom: 30px;
}

.tittle-text .head-text {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #3F414E;
}


.tittle-text .text {
  font-weight: 300;
  font-size: 20px;
  color: #A1A4B3;
}

/**/

.head-group {
  display: flex;
  justify-content:space-between;
  margin-bottom: 20px;
  width: 100%;
}

.group-button {
  text-decoration: none;
  
}

.blue-box {
  background-color:#8E97FD ;
  height: 210px;
  max-width: 177px;
  width: 100%;
  border-radius: 10px;
  
}

@media (max-width:400px) {
  .blue-box {
    margin-right: 20px;
    margin-left: 8px;
  }  
}

.blue-box-image {
  display: flex;
  justify-content: flex-end;

}

.blue-box-image img {
  border-radius: 10px;
  
}

.blue-box-tittle-text {
  margin:0 15px;
  margin-bottom: 35px;
}

.blue-box-tittle-text .head-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #FFECCC;
}


.blue-box-tittle-text .text {
  font-size: 11px;
  color: #FFECCC;
  text-decoration: none;
  letter-spacing: 0.05em;
}

.blue-box-footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 0 15px;
}

.blue-box-footer .time-text {
  font-size: 11px;
  color: #EBEAEC;
}

.blue-box-footer .box-button {
  text-decoration: none;
  background-color: #EBEAEC;
  color: #3F414E;
  height:35px;
  width:70px;
  border-radius: 25px;
  padding: 0;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-box-footer .box-button:active {
  transform: translateY(1px);
}
/**/

.orange-box {
  background-color:#FFC97E ;
  height: 210px;
  max-width: 177px;
  width: 100%;
  border-radius: 10px;
  margin-right: 8px;

}

.orange-box-image {
  display: flex;
  justify-content: flex-end;
  

}

.orange-box-image img {
  border-radius: 10px;
}

.orange-box-tittle-text {
  margin:0 15px;
  margin-bottom: 30px;
}

.orange-box-tittle-text .head-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #3F414E;
}


.orange-box-tittle-text .text {
  font-size: 11px;
  color: #3F414E;
  text-decoration: none;
  letter-spacing: 0.05em;
}

.orange-box-footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 0 15px;
}

.orange-box-footer .time-text {
  font-size: 11px;
  color: #3F414E;
}

.orange-box-footer .box-button {
  text-decoration: none;
  background-color: #3F414E;
  color: #EBEAEC;
  height:35px;
  width:70px;
  border-radius: 25px;
  padding: 0;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange-box-footer .box-button:active {
  transform: translateY(1px);
}

/**/

.dark-box {
  height: 95px;
  background-color:#333242 ;
  background-image: url("../media/daily-bgicon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-bottom: 40px;
  margin-left: 8px;
  margin-right: 8px;
}

.dark-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.dark-box .head-text {
  color:white;
  font-size: 18px;
}

.dark-box .text {
  display: flex;
  align-items: center;
  color:white;
  font-size: 11px;
  letter-spacing: 0.05em;
}

.dark-box .dark-button {
  margin-right: 30px;
}

.dark-button:active {
  transform: translateY(1px);
}

/**/
.private-menu {
  margin-bottom: 100px;

}
.private-menu .text {
  font-size: 24px;
  color: #3F414E;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
}
/*Not*/
.scroll-menu {
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
/*Not*/

.green-card {
  margin: 0 10px;
}

.green-card .card-icon img {
  background-color: #AFDBC5;
  width: 100%;
  max-width: 162px;
  height: 114px;
  border-radius: 10px;
}

.green-card .card-texts .head-text {
  font-weight: bold;
font-size: 18px;
color: #3F414E;

}

.green-card .card-texts .text {
  font-size: 11px;
  line-height: 108.1%;
  letter-spacing: 0.05em;
  color: #A1A4B2;
}


.yellow-card {
  margin: 0 10px;
}

.yellow-card .card-icon img {
  background-color: #FEE3B4;
  width: 100%;
  max-width: 162px;
  height: 114px;
  border-radius: 10px;
}

.yellow-card .card-texts .head-text {
  font-weight: bold;
font-size: 18px;
color: #3F414E;

}

.yellow-card .card-texts .text {
  font-size: 11px;
  line-height: 108.1%;
  letter-spacing: 0.05em;
  color: #A1A4B2;
}

/**/
.app-navbar {
  height: 98px;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 2px -5px 17px rgba(84, 87, 92, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

@media (max-width:375px) {
  .nav-item {
    padding: 0 15px !important;
  }
}

@media (max-width:325px) {
  .nav-item {
    padding: 0 10px !important;
  }
}

.nav-icon {
  margin-bottom: 18px;
}

.nav-text {
  color: #A0A3B1;
  font-size: 14px;
}

.selected .nav-icon {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color:#8E97FD ;
  margin-bottom:5px !important;
  border-radius: 18px;
}

.selected .nav-text {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8E97FD !important;
}
