@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color:white;
}

.app-inner {
    background-image: url("../media/login-bg.svg");
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.back-button {
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 60px;
    padding:12px 16px 16px 17px ;
    border: solid 1px #EBEAEC;
    background-color: white;
}

.back-button:active {
    transform: translateY(1px);    
}

.login-tittle {
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 135%;
    color: #3F414E;
    margin-top: 28px;
    display: flex;
    justify-content: center;
}

.login-with-connection {
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.connection-fb {
    text-align: center;
    width: 100%;
    padding: 24px;
    background: #7583CA;
    border-radius: 38px;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #F6F1FB;
    text-decoration: none;
    font-family: 'Signika', sans-serif;
    color: #F6F1FB;
    margin-top: 33px;
    height: 63px;
    background: #7583CA;
    border-radius: 38px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
 
}

.connection-fb:active {
    transform: translateY(1px);
}

.fb-img {
    flex: none;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connection-gg {
    border: solid 1px #EBEAEC;
    background: white;
    color: #3F414E;
    text-align: center;
    width: 100%;
    height: 63px;
    padding: 0 34px;
    border-radius: 38px;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: 'Signika', sans-serif;
    margin-top: 33px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.connection-gg:active {
    transform: translateY(1px);
}

.gg-img {
    flex: none;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.login-text {
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 108.1%;
    letter-spacing: 0.05em;
    color: #A1A4B2;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.login { 
    margin: 0px 20px;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login-email {
    margin-top: 40px;
    height: 63px;
    width: 100%;
    background-color: #F2F3F7;
    border-radius: 15px;
    border: none;
    padding-left: 20px;
}

.login-email:focus {
    border: none;
    outline: none;
}


.login-password {
    margin-top: 20px;
    height: 63px;
    width: 100%;
    background-color: #F2F3F7;
    border-radius: 15px;
    border: none;
    padding-left: 20px;
}

.login-password:focus {
    border: none;
    outline: none;
}

.login-button {
    text-align: center;
    width: 100%;
    padding: 24px;
    background-color: #8E97FD;
    border-radius: 38px;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #F6F1FB;
    text-decoration: none;
    margin-top: 30px;
    height: 63px;
}

.login-button:active {
    transform: translateY(1px);
}

.forgot-password {
    display: flex;
    justify-content: center;
}

.forgot-password a {
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 108.1%;
    letter-spacing: 0.05em;
    color: #3F414E;
    text-decoration: none;
    margin-top: 20px;
}

.forgot-password:hover {
    color: #3F414E;
}


.signup-text-place {
    display: flex;
    justify-content: center;
}

.signup-text-place .text {
    font-family: 'Signika', sans-serif;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 108.1%;
letter-spacing: 0.05em;
color: #A1A4B2;
margin-top: 104px;
}

.signup-text-place a {
    font-family: 'Signika', sans-serif;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 108.1%;
letter-spacing: 0.05em;
text-decoration: none;
color: #8E97FD;
margin-left: 4px;
}