html {
    scroll-behavior: smooth;
}
  
html::-webkit-scrollbar {
    display: none;
}

.app-inner {
  background-image: url("../media/musicbg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FAF7F2;
  height: 100vh;
}

.functional-menu {
  display: flex;
  justify-content:space-between;
  margin-bottom: 286px;
}

.back-button {
  margin-top: 50px;
  margin-left: 20px;
  border-radius: 60px;
  padding:12px 16px 16px 17px ;
  border: solid 1px #EBEAEC;
  background-color: white;
}

.back-button:active {
  transform: translateY(1px);    
}

.functional-buttons {
  margin-top: 50px;
  display: flex;
  margin-right: 20px;
}

.functional-button {
  height: 55px;
  width: 55px;
  background-color: rgb(182,184,191,0.8);
  border-radius: 38px;
  border: none;
}

.functional-button:active {
  transform: translateY(1px);    
}

.tittle-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 70px;
}

.head-text {
  font-weight: bold;
  line-height: 37px;
  text-align: center;
  color: #3F414E;
  font-size: 34px;
  margin-bottom: 15px;
}

.text {
  font-size: 14px;
  text-align: center;
  line-height: 108.1%;
  color: #A0A3B1;
  letter-spacing: 0.05em;
}

.buttons-place {
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: 0 50px;
  margin-bottom: 60px !important;
}

.main-button {
  height: 110px;
  width: 110px;
  background-color: hsl(230, 10%, 75%, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}

.main-button div {
  height: 88px;
  width: 88px;
  background-color: #3F414E;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Time Line*/

.timeline {
  display: flex;
  margin: 0 20px;
  align-items: center;
}

.line {
  position: relative;
  width: 100%;

}

.content {
  position: relative;
  height: 13px;
  width: 13px;
  z-index: 1;
  background-color: #3F414E;
  border-radius: 20px;
  margin-left: 18px;
}

.line::before {
  content:"";
  position:absolute;
  left: -30px;
  bottom: -1px;
  z-index: 1;
  max-width: 30px;
  width: 100%;
  height: 3px;
  background-color: #3F414E;
  border-radius: 20px;
  
}

.line:after {
  content:"";
  position:absolute;
  z-index: 0;
  left: -2px;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: #A0A3B1;
  border-radius: 20px;
}

