html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color:white;
}

.tittle-text {
    padding-top: 82px;
    margin-bottom: 30px;
    margin-left:8px ;
    margin-right:8px ;
}

.tittle-text .head-text {
    font-weight: bold;
    font-size: 24px;
    color: #3F414E;
    width: 259px;
    margin-bottom: 15px;
}

.tittle-text .text {
    font-weight: 300;
    font-size: 16px;
    line-height: 165%;
    width: 317px;
    color: #A1A4B2;
}

.timer-place {
    height: 212px;
    width: 100%;
    border-radius: 20px;
    background-color: #F5F5F9;
    margin-bottom: 30px;
}

.mid-text .head-text {
    font-weight: bold;
    font-size: 24px;
    color: #3F414E;
    width: 259px;
    margin-bottom: 15px;
}

.mid-text .text {
    font-weight: 300;
    font-size: 16px;
    line-height: 165%;
    width: 317px;
    color: #A1A4B2;
}

