html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

.app-inner {
    background-color: #FFFFFF;
    background-image: url("../media/topic-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.tittle-text {
    padding-top: 76px;
    margin-bottom: 30px;
}

.tittle-text .head-text {
    font-size: 28px;
    line-height: 38px;
    color: #3F414E;
    font-weight: bold;
}

.tittle-text .text {
    font-size: 28px;
    line-height: 38px;
    color: #3F414E;
    font-weight: 300;
}

.tittle-text .topic-text {
    font-weight: 300;
    font-size: 20px;
    color: #A1A4B2;
}

.relax {
    background-color:#808AFF;
    height: 210px;
    width: 176px;
    border-radius: 10px;
    margin-bottom: 21px;
   
}

.relax-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}

.relax-text {
    color: #FFECCC;
    font-size: 18px;
    font-weight: bold;
    margin-left: 16px;
}

.work {
    background-color: #FA6E5A;
    height: 176px;
    width: 167px;
    border-radius: 10px;
}

.work-icon {
    margin: 0 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.work-text {
    color: #FEF9F3;
    font-size: 18px;
    font-weight: bold;
    margin-left: 16px;
}

.happy {
    border-radius: 10px;
    height: 167px;
    width: 178px;
    background-color: #FEB18F;
    margin-bottom: 4px;
}

.happy-text {
    color: #3F414E;
    font-size: 18px;
    font-weight: bold;
    margin-left: 16px;
    width: 131px;
    
}





