html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

.app-inner {
    background-color: #FFFFFF;
    background-image: url("../media/topic-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.tittle-text {
    padding-top: 76px;
    margin-bottom: 30px;
}

.tittle-text .head-text {
    font-size: 28px;
    line-height: 38px;
    color: #3F414E;
    font-weight: bold;
}

.tittle-text .text {
    font-size: 28px;
    line-height: 38px;
    color: #3F414E;
    font-weight: 300;
}

.tittle-text .topic-text {
    font-weight: 300;
    font-size: 20px;
    color: #A1A4B2;
}

.relax {
    background-color:#808AFF;
    height: 100%;
    width: 100%;
    max-height: 210px;
    max-width: 176px;
    border-radius: 10px;
    margin-bottom: 21px;
   
}

.relax-icon {
    margin-bottom: 37px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.relax-text {
    color: #FFECCC;
    font-size: 18px;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 8px;
}

.happy {
    border-radius: 10px;
    max-height: 167px;
    max-width: 178px;
    height: 100%;
    width: 100%;
    background-color: #FEB18F;
    margin-bottom: 20px;
}

.happy-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.happy-text {
    color: #3F414E;
    font-size: 18px;
    font-weight: bold;
    margin-left: 16px;
    width: 131px;
    
}

.hill {
    height: 100%;
    width: 100%;
    max-height: 210px;
    max-width: 176px;
    border-radius: 10px;
    background-color: #6CB28E;
}

.hill-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.hill-text {
    color: #FFECCC;
    font-size: 18px;
    font-weight: bold;
    margin-left: 16px;
    width: 91px;

}


.work {
    background-color: #FA6E5A;
    max-width: 167px;
    max-height: 176px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.work-icon {
    margin: 0 20px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.work-text {
    color: #FEF9F3;
    font-size: 18px;
    font-weight: bold;
    margin-left: 16px;
}


.anxiety {
    background-color: #FFCF86;
    height: 100%;
    width: 100%;
    max-height: 210px;
    max-width: 167px;
    border-radius: 10px;
    margin-bottom: 20px;
  
}

.anxiety-icon {
    margin-bottom:calc(40% - 35px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.anxiety-text {
    color: #3F414E;
    font-size: 18px;
    font-weight: bold;
    margin-left: 16px;
    
}

.sleep {
    background-image: linear-gradient( rgb(78,85,103,1) ,#3F414E, #3F414E, #3F414E);
    max-width: 167px;
    max-height: 176px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.sleep-icon {
    margin-bottom: -3px;
    padding-top: 10px;

}

.sleep-background-color {
   
    padding-bottom:42px ;
    
}

.sleep-text {
color: #EBEAEC;
/*background-color: #3F414E;*/
font-weight: bold;
font-size: 18px;
padding-left: 15px;
padding-bottom:20px;
border-radius:0 0 10px 10px ;
}

.group-button {
text-decoration: none;
}

.group-button div:active {
    transform: translateY(1px);
    
}




